*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app{
    height: 100vh;
    background: #959794;
}
nav{
    background: #45433e;
}
nav a{
    color: #959794;
    text-decoration: none;
}  
nav a.router-link-exact-active{
    color: #e9322e;
}
#footer{
    background: #45433e;
    color: #959794;
    position: fixed;
    bottom: 0;
}
