@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app{
    font-family: 'Roboto Mono', monospace;
    background: #8D8C8A;
    height: 100%;
}
nav{
    background: #363538;
}
nav a{
    color: #F6F6F6;
}  
nav a.router-link-exact-active{
    color: #408697;
}
#footer{
    background: #363538;
    color: #F6F6F6;
    position: relative;
    bottom: 0;
}
